<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Authentication </title>
</head>
<body>
    <h1> Welcome your authentication details are: </h1>
    <p th:text="${auth.userId}"></p>
    <p th:text="${auth.username}"></p>
    <p th:text="${auth.password}"></p>
    <p th:text="${auth.roles}"></p>
    <p th:text="${auth.authorities}"></p>
</body>
</html>